@charset "utf-8";
/**
* @author Ziv
* 2014/02/21
*/

.wrapper {
	padding: 0px;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #eee;
}

.wrapper .bg-nav {
	width: 200px;
	height: 100%;
	background-color: #EBE9E8;
}

.bg-nav .nav {
	height: 350px;
	margin-top: 20px;
}

.bg-nav p {
	text-align: left;
	margin-left: 10px;
}

.wrapper .ope-area {
	margin-left:20px;
	min-width: 700px;
	left: 200px;
	top:20px;
}

.wrapper .bg-nav, .wrapper .ope-area {
	float:left;	
	min-height:400px;
	position: absolute;
}

.bg-nav ul li a {
	border-bottom: 1px solid #ddd;
	font-family: "微软雅黑";
}

.title {
	padding-left:10px;
}

.title select {
	width: 150px;
}

.title ul {
	margin-left: 0px;
}

.title ul li {
	display: inline;
	text-decoration: none;
}

.edit-con {
	width: 900px;
}

.edit-con .tag {
	text-align: left !important;
}

.tag a {
	padding:2px;
}

.edit-con p {
	text-align: right;
	margin-top: 20px;
}

.edit-con table thead td, .edit-con table tbody td {
	text-align: center;
}

.edit-footer {
	text-align: center;
}

.tag-mark {
	background:#ccc;
}

#cke_1_contents {
	height:300px !important;
}