@charset "utf-8";
/* CSS Document */

#top {
	background-color:#2f3137;
	width: auto;
	position: fixed;
	margin-left:-2px;
	border-top:#2f3137 solid 1px;
	border-left:2f3137 solid 1px;
	border-right:2f3137 solid 1px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	width: 100%;
}

#top .logo {
	width: 150px;
	float: left;
	margin-left:5px;
}


#container {
	width: 900px;
	margin: auto;
	min-height: 600px;
}

body {
	margin:0;
	padding:0;
	background:url(../images/body-bg.jpg) repeat;
}

#top #top_main {
	width: 900px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
}

#top #top_main .nav {
	float: left;
	margin-top: 15px;
	margin-left: 50px;
	
}

#top #top_main .nav ul {
	display:inline;
	
}

#top #top_main .nav ul li {
	display:inline;
	margin-right:50px;
}

#top #top_main .nav ul li a {
	text-decoration:none;
	color:#FFFFFF;
	font-family: "黑体";
	font-weight: normal;
}

#top #top_main .nav ul li a:hover {
	color:#c9dd0a;
	font-family: "黑体";
}

#top #top_main .nav ul li a:active {
	color:#c9dd0a;
	font-family: "黑体";
}


#article {
	padding-top: 80px;
	font-family:'helvetica-neue',​helvetica,​arial,​STXihei;
	color: #575a5d;
	line-height: 25px;
	text-indent: 30px;
	text-align: left;
	padding-right: 30px;
	padding-left: 30px;
	background:#FFF;
}

#article .content {
	height:350px;
	overflow:hidden;
}

#article .arInfo {
	text-align:right;
}

#article .detail {
	text-align: right;
}

#article .arInfo ul li {
	display:inline;
	display-style:none;
}

#article .arInfo ul li a {
	color:#575a5d;
}

#bottom {
	height: 80px;
	padding-top:20px;
	margin-top: 10px;
	color: #000;
	font: 12px "微软雅黑" bold;
	text-align: center;
}

/*css about 目录菜单*/

#share {
	position: fixed;
	top: 600px;
	right: 0px;
}



/* bootstrap extend*/
.pagination {
	text-align: center;
}

.pagination ul {
	background:#FFF;
}

.pagination ul li a {
	color:#333;
}

.error {
	margin: 0 0 10px;
	height: 200px;
	color: #000;
	font: 18px "微软雅黑" bold;
	text-align:center;
	padding-top:200px;
}